body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
}

button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;
    transition: filter 0.5s;
    color: white;
}

button:hover {
    filter: brightness(80%);
}

.navbar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 20px;
    /* flex-wrap: wrap; */

    @media(max-width: 768px){
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    /* column-gap: 60px; */
    /* fixed? */
}



#logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.5s ease-in; 
}

#logo:hover {
    filter: brightness(200%);   
}

.input {
    width: 500px;
    display: flex;
    column-gap: 20px;
    @media(max-width: 768px){
        width: 400px;
    }
}

#todo-input {
    width: 300px;
    height: 40px;
    @media(max-width: 768px){
        width: 150px;
    }
}

#todo-pri-input {
    width: 20px;
}

#add-button {
    padding: 5px 30px 5px 30px;
    background-color: green;
}

#add-button:hover {
   filter: brightness(80%);
}

#clean-button {
    padding: 5px 30px 5px 30px;
    background-color: rgb(201, 83, 83);
}

.flex-container {
    display: flex;
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 20px;
    padding: 0px 30px 0px 30px;
    flex-wrap: wrap;

    @media(max-width: 768px){
        justify-content: center;
    }
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border: 1px solid wheat;
    border-radius: 15px;
    transition: filter 0.5s;
    color: white;
    justify-content: space-around;
    row-gap: 10px;
    padding: 15px;

    @media(max-width: 768px){
        width: 150px;
        height: 150px;
    }

}

.card:hover {
    filter: brightness(80%);
}


.delete-button {
    background-color: rgb(239, 52, 52);
    padding: 5px 10px 5px 10px;
}

.bgc-fpri {
    background-color: red;
}

.bgc-spri {
    background-color: rgb(226, 98, 6);
}

.bgc-tpri {
    background-color: rgba(255, 255, 72, 0.896);
}

.bgc-lpri {
    background-color: rgba(16, 99, 243, 0.896);
}

.blank-container-p {
    display: flex;
    font-size: 14px;
    font-weight: 300;
    width: 300px;
    height: 50px;
    background-color: rgb(206, 151, 169);
    border: 1px solid rgb(195, 90, 125);
    border-radius: 8px;
    color: rgb(195, 90, 125);
    align-items: center;
    padding-left: 5px;
}

.blank-container-g {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    font-weight: 300;
    width: 300px;
    height: 150px;
    background-color: rgb(129, 221, 129);
    border: 1px solid rgb(11, 117, 18);
    border-radius: 8px;
    color: rgb(11, 117, 18);
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}